
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <ul id="menu">
            <li><a href="{{ path('field_index') }}">Liste des terrains</a></li>
            <li><a href="{{ path('reservation_new') }}">Faire une reservation</a></li>
            <li><a href="{{ path('reservation_index') }}">Voir vos reservations</a></li>
            <li><a href="{{ path('reservation_all') }}">Voir toutes les reservations</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
        </ul>
        {% block javascripts %}{% endblock %}
    </body>
