{% extends 'base.html.twig' %}

{% block body %}
    <h1>Field</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ field.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ field.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ field.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ field.description }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ field.location }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('field_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('field_edit', { 'id': field.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            
    
{% endblock %}
